.home{
  font-family: "Roboto", sans-serif;
}

.home .home-header{
  position: relative;
  height: 42rem;
}

.home .home-header .bg-image{
  background-image: url("img/15017.png");
  background-position: 50% 70%;
  background-size: cover;
  position: absolute;

  left:0;
	right:0;
	top:0;
  bottom:0;

  z-index: 1;
}

.home .home-header .content{
  position:relative;
  z-index:2;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem 0 3rem;
}

.content .elementor-widget-divider{
  height:5px;
  width: 15vw;
  background-color: white;
  margin-bottom: 3rem;
}

.home-header-branding{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size:38px;
  letter-spacing: 1px;
  font-weight: 200;
  color: white;
  margin: 13rem 0 3rem 0;
}

.first-fact{
  margin:6rem 0 6rem 0;
  padding:0 3rem 0 3rem;
}

.first-fact-content{
  font-size: 20px;
  line-height: 1.7em;
  font-weight:400;
  font-style:italic;
  color: #7a7a7a;
}

.first-fact-profile{
  display:flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;

}

.first-fact-profile-picture img{
  border-radius: 50%;
}

.first-fact-profile-presentation{
  display:flex;
  margin-left:1.5rem;
  flex-direction: column;
  align-items: flex-start;
}

.first-fact-profile-presentation .name{
  color: #6EC1E4;
  font-size: 19px;
  letter-spacing: 1.1px;
  font-weight: 600;
}

.first-fact-profile-presentation .job{
  color: rgba(0,0,0,0.25);
}


@media (min-width: 765px) {
  .home-header-branding{
    font-size:42px;
  }

  .first-fact-content{
    font-size: 22px;
  }

  .home .home-header .content{
    padding:0;
  }
}

@media (min-width: 1025px) {
  .home-header-branding{
    font-size:55px;
    line-height: 1.6em;
  }

  .first-fact-content{
    font-size: 27px;
    line-height: 1.9em;
  }
}



.second-fact{
  background-color: rgba(241,243,245,0.5);
  padding: 6rem 4rem 6rem 4rem;

  display:flex;
  align-items: flex-start;
  justify-content: space-around;
}

@media (max-width: 900px){
  .second-fact{
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .second-fact_first-container{
    align-items: center !important;
    margin-bottom: 5rem;
  }

  .second-fact_text-content_question{
    font-size:33px !important;
    text-align: center !important;
  }

  .second-fact_text-content{
    align-items: center;
    display:flex;
    flex-direction: column;
  }

  .second-fact_text-content_list ul{
    padding-left: 0 !important;
  }

  .second-fact_text-content_list li{
    font-size: 14px;
  }

}

@media (max-width: 700px){
  .second-fact_text-content_question{
    font-size:27px !important;
  }

  .second-fact_text-content_list li{
    margin-left:1rem;
  }
}

.second-fact_first-container{
  padding-top:1rem;

  display:flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 35rem;
}

.second-fact_widget-divider{
  height:5px;
  width: 20vw;
  max-width: 120px;
  background-color: #FF4F5A;
}

.second-fact_text-content{
  font-family: "Roboto", Sans-serif;
  padding-top: 50px;
}

.second-fact_text-content_list ul{
  color: #7a7a7a;
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8em;

  padding: 2rem 0 2rem 3rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.second-fact_text-content_question{
  font-size: 44px;
  font-weight: 400;
  text-align: left;
  line-height: 1;
  color: #444444;
}

.second-fact_text-content_answer{
  color: #FF4F5A;
  font-size: 15px;
  font-family: "Roboto", Sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.second-fact_image-content img{
  opacity: 0.8;
  width: 23rem;
}


