.home{
  font-family: "Roboto", sans-serif;
}

.home .home-header{
  position: relative;
  height: 42rem;
}

.home .home-header .bg-image{
  background-image: url("img/15017.png");
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100vw;

  left:0;
	right:0;
	top:0;
  bottom:0;

  z-index: 1;
}

ul{
  list-style: inside;
}

@media( max-width: 950px ){
  .home .home-header .bg-image{
    background-size: auto;
  }
}

.home .home-header .content{
  position:relative;
  z-index:2;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem 0 3rem;
}

.content .elementor-widget-divider{
  height:5px;
  width: 15vw;
  background-color: white;
  margin-bottom: 3rem;
}

.home-header-branding{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size:38px;
  letter-spacing: 1px;
  font-weight: 200;
  color: white;
  margin: 13rem 0 3rem 0;
}

.first-fact{
  margin:6rem 0 6rem 0;
  padding:0 3rem 0 3rem;
}

.first-fact-content{
  font-size: 20px;
  line-height: 1.7em;
  font-weight:400;
  font-style:italic;
  color: #7a7a7a;
}

.first-fact-profile{
  display:flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;

}

.first-fact-profile-picture img{
  border-radius: 50%;
}

.first-fact-profile-presentation{
  display:flex;
  margin-left:1.5rem;
  flex-direction: column;
  align-items: flex-start;
}

.first-fact-profile-presentation .name{
  color: #6EC1E4;
  font-size: 19px;
  letter-spacing: 1.1px;
  font-weight: 600;
}

.first-fact-profile-presentation .job{
  color: rgba(0,0,0,0.25);
}


@media (min-width: 765px) {
  .home-header-branding{
    font-size:42px;
  }

  .first-fact-content{
    font-size: 22px;
  }

  .home .home-header .content{
    padding:0;
  }
}

@media (min-width: 1025px) {
  .home-header-branding{
    font-size:55px;
    line-height: 1.6em;
  }

  .first-fact-content{
    font-size: 27px;
    line-height: 1.9em;
  }
}



.second-fact{
  background-color: rgba(241,243,245,0.5);
  padding: 6rem 4rem 6rem 4rem;

  display:flex;
  align-items: flex-start;
  justify-content: space-around;
}

@media (max-width: 900px){
  .second-fact, .bloc-3_content, .bloc-4_content{
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .bloc-3_content, .bloc-4_content{
    flex-direction: column-reverse !important;
    margin: 1rem 2rem 0 2rem !important;
    padding-bottom: 3rem;
  }

  .second-fact_first-container, .bloc-3_container-2, .bloc-4_container-2{
    align-items: center !important;
    margin:0 0 2rem 0!important;
  }

  .bloc-3_widget-divider, .bloc-4_widget-divider{
    align-self: auto !important;
  }

  .second-fact_text-content_question, .bloc-3_text-content_title, .bloc-4_text-content_title{
    font-size:33px !important;
    text-align: center !important;
  }

  .second-fact_text-content, .bloc-3_text-content, .bloc-4_text-content{
    align-items: center !important;
    display:flex;
    flex-direction: column;
  }

  .second-fact_text-content_list ul, .bloc-3_text-content_list ul, .bloc-4_text-content_list ul{
    align-items: center !important;
    padding: 2rem 0 2rem 0!important;
  }

  .second-fact_text-content_list li, .bloc-3_text-content_list li, .bloc-4_text-content_list li{
    font-size: 14px;
    text-align: center;
  }

}

@media (max-width: 700px){
  .second-fact_text-content_question, .bloc-3_text-content_title .bloc-4_text-content_title{
    font-size:27px !important;
  }

  .second-fact_text-content_list li, .bloc-3_text-content_list li, .bloc-4_text-content_list li{
    margin-left:1rem;
  }
}

.second-fact_first-container{
  padding-top:1rem;

  display:flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 35rem;
}

.second-fact_widget-divider{
  height:5px;
  width: 20vw;
  max-width: 120px;
  background-color: #FF4F5A;
}

.second-fact_text-content{
  font-family: "Roboto", Sans-serif;
  padding-top: 50px;
}

.second-fact_text-content_list ul{
  color: #7a7a7a;
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8em;

  padding: 2rem 0 2rem 3rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.second-fact_text-content_question{
  font-size: 44px;
  font-weight: 400;
  text-align: left;
  line-height: 1;
  color: #444444;
}

.second-fact_text-content_answer{
  color: #FF4F5A;
  font-size: 15px;
  font-family: "Roboto", Sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.second-fact_image-content img{
  opacity: 0.8;
  width: 23rem;
}

@media( max-width: 900px){
  .second-fact_image-content img{
    width: 70vw;
  }
}



.bloc-3{
  border-top: 1px solid #DFDFDF;
}

.bloc-3_content{
  margin: 8rem 2rem 6rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bloc-3_container-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.bloc-3_img img{
  width: 27rem;
  opacity: 0.8;
}

@media( max-width: 900px){
  .bloc-3_img img{
    width: 70vw;
  }
}

.bloc-3_widget-divider{
  height:5px;
  width: 20vw;
  max-width: 110px;
  background-color: #6EC1E4;

  align-self: flex-start;
}

.bloc-3_text-content{
  margin: 3rem 0 0 0;
  max-width: 35rem;

  display:flex;
  flex-direction: column;
  align-items: center;
}

.bloc-3_text-content_list ul{
  color: #7a7a7a;
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8em;

  padding: 2rem 0 2rem 3rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.bloc-3_text-content_title{
  font-size: 44px;
  font-weight: 400;
  text-align: left;
  line-height: 1;
  color: #444444;
}

.bloc-3_text-content_answer{
  color:#6EC1E4;
  text-decoration: underline;

  font-size: 15px;
  font-family: "Roboto", Sans-serif;
  font-weight: bolder;
  line-height: 1;

}

.bloc-3_text-content_answer:hover{
  color:#6EC1E4;
}


.bloc-4{ 
  background-color: rgba(241,243,245,0.5);

  padding: 6rem 0 6rem 0;
}

@media( max-width: 900px){
  .bloc-4{
    padding: 0;
  }
}

.bloc-4_content{

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.bloc-4_container-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 3rem 0 3rem;
}

.bloc-4_img img{
  width: 23rem;
  opacity: 0.8;

  margin-right: 3rem;
}

@media( max-width: 900px){
  .bloc-4_img img{
    width: 70vw;
  }
}

@media( max-width: 900px){
  .bloc-4_img img{
    margin: 0 !important;
  }
}

.bloc-4_widget-divider{
  height:5px;
  width: 20vw;
  max-width: 110px;
  background-color: #6EC1E4;

  align-self: flex-start;
}

.bloc-4_text-content{
  margin: 3rem 0 0 0;
  max-width: 35rem;

  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.bloc-4_text-content_list ul{
  color: #7a7a7a;
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8em;

  padding: 2rem 0 2rem 3rem;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.bloc-4_text-content_title{
  font-size: 44px;
  font-weight: 400;
  text-align: left;
  line-height: 1;
  color: #444444;
}

.bloc-4_text-content_answer{
  color:#6EC1E4;
  text-decoration: underline;

  font-size: 15px;
  font-family: "Roboto", Sans-serif;
  font-weight: bolder;
  line-height: 1;

  align-self: center;
}

.bloc-4_text-content_answer:hover{
  color:#6EC1E4;
}


.bloc-5{
  border-top: 1px solid #DFDFDF;
  padding: 6rem 2rem 3rem 2rem;
}

.bloc-5_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bloc-5_content_title{
  color: #6ec1e4;
  font-family: "Roboto", Sans-serif;
  font-weight: 800;
  font-size: 28px;
}

.bloc-5_widget-divider{
  height:5px;
  width: 10vw;
  max-width: 110px;
  background-color: #6EC1E4;

  margin: 2rem 0 2rem 0;
}

.bloc-5_tems{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.bloc-5_tem{
  margin: 1rem 0 4rem 0;
}

.bloc-5_tem_name{
  font-size: 25px;
  font-weight: 700;
  color: #54595F;
  padding: 1rem 0 1rem 0;
}

.bloc-5_tem_picture img{
  width: 10rem;
  border-radius: 50%;
  margin: 1rem 0 1rem 0;
}

strong{
  font-weight: 800;
  font-family: "Roboto", Sans-serif;
}

.bloc-5_tem_text{
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.7em;
  color: #7a7a7a;
}

@media( min-width: 900px){
  .bloc-5_tems{
    flex-direction: row;
    justify-content: stretch;
  }

  .bloc-5_tem{
    width: 50%;
    display:flex;
    align-items: stretch;
  }

  .bloc-5_tem_picture img{
    width: 8vw;
    margin-top: 4rem;
  }

  .bloc-5_tem_text-container{
    text-align: left;
    padding: 0 1.5rem 0 1.5rem;
  }

}

